@inherits DisplayItemListBase

<MudList Clickable="true">
    @foreach (var rec in Records)
    {
        <DisplayItem Record="rec"></DisplayItem>
    }
</MudList>


@if (Prev != null)
{
    <h1>Prev Buttons</h1>
}

@if (Next != null)
{
  <h1>Next Buttons</h1>
}

