@page "/vault"
@inherits VaultBase
@using BzVault.Components

<h3>Vault</h3>
<MudGrid>
    <MudItem xs="6">
        @if (Data == null)
        {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        }
        else
        {
            <DisplayItemList Records="Data" Next="Next" Prev="Prev"></DisplayItemList>
        }
    </MudItem>
</MudGrid>



